.profile {
  width: 300px;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.description {
  margin-bottom: 20px;
}

.avatar {
  width: 100px;
  border-radius: 50%;
  margin-top: 20px;
  background-color: #333333;
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin: 12px 0;
}

.tag,
.location {
  color: gray;
}

.stats {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border: 1px solid #ccc;
  background-color: #e9e9e9;
}

.stats li {
  font-weight: bold;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-right: 1px solid #ccc;
}
.title {
  font-weight: normal;
}
