.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.avatar {
  border-radius: 50%;
}

.name {
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 8px;
}

.online {
  font-size: 14px;
  color: green;
  padding: 0;
}

.offline {
  font-size: 14px;
  color: red;
}
