.friendList {
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
}

.avatar {
  margin-left: 10px;
  border-radius: 50%;
}

.name {
  font-weight: bold;
  margin-left: 10px;
}

.online {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}

.offline {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}
